# common env
NEXT_PUBLIC_APP_NAME=مِرْقَم

JWT_SECRET=********
BAHETH_API_TOKEN=optional-we-still-didnt-use-it

# login by google
GOOGLE_CLIENT_ID=********
GOOGLE_CLIENT_SECRET=********

# env specific 
OPENAI_API_KEY=********
GEMINI_API_KEY_1=********
GEMINI_API_KEY_2=********
DEEP_SEEK_API_KEY=********

POSTGRES_USER=db_user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name 
POSTGRES_HOST=***
POSTGRES_PORT=***

NEXT_PUBLIC_APP_URL=client_domain

STORAGE_ROOT_URL=where_to_store_lesson_files